* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  color: azure;
  padding: 0;
}

body {
  overflow-x: hidden;
}

h2 {
  font-size: 2.5rem;
}

a {
  text-decoration: none;
  color: initial;
  color: azure;
}

/* header styling */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(115, 61, 10);
  display: flex;
  justify-content: space-between;
  padding: 1rem 0 1rem 3rem;
  font-size: 1.2rem;
  z-index: 999;
}

#owner {
  width: 100%;
}

#owner h1 {
  font-size: 1.2rem;
}

#navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  top: 0;
}

/* welcome-section styling */
#welcome-section {
  position: relative;
  padding-top: 3.2rem;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    50deg,
    rgb(79, 78, 69),
    rgb(140, 136, 115)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index:-1;
}

#welcome-section h1 {
  margin-top: 1rem;
  font-size: 2rem;
}

#liecardo-img {
  min-width: 15rem;
  max-width: 20rem;
  border-radius: 3%;
}

#welcome-section h2, #welcome-section div {
  margin-top: 1rem;
}

/* projects section styling */
#projects {
  position: relative;
  background-color: #AA8139;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 3.2rem;
}

#projects h2 {
  grid-column: 1/-1;
  text-align: center;
  margin: 2rem;
  padding: 0 1rem;
}

.project-tile {
  width: 100%;
  display: flex;
  flex-direction: column;
  place-items: center; 
  transition: 300ms ease-in-out 0ms;
}

.project-tile img {
  width: 70%;
  height: 70%;
  object-fit: fill;
}

.project-tile:hover {
  transform: scale(1.1);
  background-color: #b69761;
}

.project-tile img:hover {
  height: 70%;
  width: 100%;
  object-fit: contain;
}

.project-name {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#more-button {
  grid-column: 2/3;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

#more-button a{
  background-color: black;
  padding: 1rem;
  border-radius: 8%;
}

/* contacts section styling */
#contacts {
  background: linear-gradient(
    50deg,
    rgb(79, 78, 69),
    rgb(140, 136, 115)
  );
  padding-top: 3.2rem;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contacts h2 {
  margin-bottom: 10rem;
}

#contacts ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
}

.socials {
  font-size: 2rem;
  transition: 300ms ease-in-out 0ms;
}

.socials a{
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials a p {
  margin-left: 1rem;
}

.socials:hover {
  transform: scale(1.5);
}

/* Goat styling */
.goat {
  background: #5ecc54;
  height: 400px;
  position: relative;
  top: 100px;
  width: 600px;
}

.goat * {
  border: 6px solid black;
  position: absolute;
}

.face {
  background-color: rgb(176, 176, 176);
  border-radius: 80px 60px 200px 110px;
  height: 200px;
  left: 100px;
  top: 90px;
  width: 175px;
  z-index: 4;
}

@keyframes blink {
  0% {height: 12px}
  10% {height: 3px;}
  30% {height: 12px}
  100% {height: 12px}
}

.eye {
  background-color: rgb(233, 232, 232);
  border-radius: 50%;
  height: 85px;
  left: -20px;
  top: 20px;
  width: 85px;
}

.eye:after {
  background-color: black;
  border-radius: 50%;
  content: '';
  height: 12px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 12px;
  animation: blink 3s ease alternate infinite;
  animation-delay: 3s;
}

.eye-right {
  height: 100px;
  left: 40px;
  top: 10px;
  width: 100px;
}

.eye-right:after {
  left: 30px;
  top: 47px;
}

.mouth {
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid black;
  border-radius: 15%;
  left: 30px;
  top: 147px;
}

.horns {
  border: none;
  height: 100px;
  width: 400px;
  z-index: 1;
}

.horn {
  border: none;
  border-radius: 50%;
  height: 90px;
  transform: rotate(25deg);
  width: 200px;
}

.horn-left {
  border-top: 6px solid black;
  border-right: 6px solid black;
  border-left: 6px solid black;
  border-bottom: 6px solid transparent;
  box-shadow: inset 10px 35px 0 1px #554834;
  top: 20px;
  width: 150px;
}

.horn-left:before {
  content: '';
  border-radius: 50%;
  border-top: 6px solid transparent;
  border-right: 6px solid transparent;
  border-left: 6px solid black;
  border-bottom: 6px solid transparent;
  height: 191px;
  left: -20px;
  transform: rotate(85deg);
  top: 35px;
  width: 200px;
  position: absolute;
}

.horn-left:after {
  content: '';
  position: absolute;
  width: 150px;
  border-radius: 50%;
  height: 90px;
  transform: rotate(6deg);
}

.horn-right {
  border-top: 6px solid transparent;
  border-right: 6px solid black;
  border-left: 6px solid black;
  border-bottom: 6px solid black;
  box-shadow: linear-gradient(to right, black, white);
  box-shadow: inset -20px -35px 0 1px #554834;
  left: 200px;
  top: 15px;
  transform: rotate(160deg);
}

.horn-right:before {
  content: '';
  border-radius: 50%;
  border-top: 6px solid black;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  border-bottom: 6px solid transparent;
  height: 250px;
  left: -70px;
  transform: rotate(-195deg);
  bottom: 38px;
  width: 330px;
  position: absolute;
}

.body {
  background-color: rgb(176, 176, 176);
  width: 300px;
  height: 200px;
  top: 150px;
  left: 200px;
  border-radius: 0 40% 50% 50%;
  z-index: 3;
}

.legs {
  border: none;
  left: 250px;
  top: 300px;
}

.leg {
  background-color: rgb(176, 176, 176);
  border-top: none;
  border-bottom: 25px solid black;
  width: 50px;
  height: 100px;
}

.leg1 {
  z-index: 5;
}

.leg2 {
  left: 20px;
  z-index: 2;
}

.leg3 {
  left: 160px;
  z-index: 5;
}

.leg4 {
  left: 140px;
}

@keyframes wag {
  0% {transform: rotate(45deg)}
  50% {transform: rotate(75deg)}
  100% {transform: rotate(45deg)}
}

.tail {
  background-color: rgb(176, 176, 176);
  border-radius: 60% 180% 120% 0 ;
  width: 50px;
  height: 120px;
  left: 430px;
  top: 105px;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
  animation-name: wag;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@media only screen and (max-width: 720px) {
  h2 {
    font-size: 1.8rem;
  }

  #projects {
    background-color: green;
  }

  #contacts ul {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  #contacts h2 {
    margin-bottom: 6rem;
  }

  .socials {
    font-size: 1.5rem;
  }
}